/* General Info */
/* 
Google Font:
font-family: 'Palanquin Dark', sans-serif;

Colors:
- main background: rgb(20,25,34);
- player background: rgb(40,40,40);
- gray text (aside): rgb(112,112,112)
*/

/* CSS RESET */
 * { box-sizing: border-box; margin: 0; padding: 0;}
img { width: 100%; display: block;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}

html {
    font-family: 'Palanquin Dark', sans-serif;
}

/* UTILITY */
.control-red {
    background-color: pink;
}
.control-green {
    background-color: aquamarine;
}
.control-yellow {
    background-color: rgb(231, 231, 102);
}

.svg-filter-gray {
    filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(135deg) brightness(96%) contrast(88%);
}

.flex {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* -- CONTENITORI -- */
/* Contenitore Web App */
.web-app {
    height: 100vh;
}
/* Contenitori Principali */
#player {
    height: 90px;
    background-color: rgb(40,40,40);
}

main {
    height: calc(100% - 90px);
}

#sidenav {
    width: 200px;
    height: 100%;
    overflow: auto;
    background-color: black;
}

#central {
    background-color: rgb(20,25,34);
    height: 100%;
    width: calc(100% - 200px);
    overflow: auto;

    /* al fine di mettere il banner upgrade fisso: */
    position: relative;
}
/* PROPRIETA' GENERALI TESTI */
h3 , h2 {
    color: white;
}
h2 {
    font-size: 2.3rem;
}

/* MEDIA QUERY */
/* Tablet Max-width:768px*/
@media  screen and (max-width:868px) {
   /* / */
}
/* Dispositivo mobile grande Max-width:500px */
@media  screen and (max-width:600px) {
    html {
        font-size: 13px;
    }
    #sidenav {
        width: 180px;
    }
    #central {
        width: calc(100% - 180px);
    }
}
/* Telefono mobile piccolo Max-width: 425px */ /*!L'ho reso 425px*/
@media  screen and (max-width:425px) {
    #sidenav {
        width: 60px;
    }
    #central {
        width: calc(100% - 60px)
    }
}