/* -- SIDENAV -- */
#sidenav {
    color: rgb(128, 128, 128);
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;
}

#sidenav a {
    align-items: center;
    gap: 7px;
}

/* Margini e distanze tra elementi */
#logo-spotify,
.upper-side nav a,
.playlist-list,
.bottom-side {
    margin-left: 1rem
}
#logo-spotify,
#sidenav nav,
.playlist-list {
    margin-bottom: 1rem;
}

#sidenav nav a {
    line-height: 2.5;
}
.playlist-list {
    line-height: 2;
}

/* Parte superiore sidenav */
#sidenav .upper-side {
    width: 90%;
}
#sidenav nav img {
width: 23%;
}
.fa-square-plus {
    font-size: 40px;
    vertical-align: middle;
}

/* Parte inferiore sidenav */
#sidenav .download-icon {
    width: 12%;
}
#sidenav .profile-icon {
    width: 20%;
    background-color: gray;
    clip-path: circle();
}
#sidenav .profile-icon img {
    position: relative;
    top: 5px;
}
.bottom-side hr {
    margin: 0.3rem 0;
}

/* Effetto Hover: svg e testo si colorano di bianco */
#sidenav a:hover,
#sidenav a:hover img {
    filter: none;
    color: white;
}
/* Effetto Hover: bordo sinistro dii nav */
.upper-side nav li {
    border-left: 2px solid transparent
}
.upper-side nav li:hover {
    border-left: 2px solid greenyellow
}

/* Sidenav versione mobile  */
.sidenav-mobile {
    display: none;
}

/* BREAKPOINTS */
/* Telefono mobile piccolo Max-width: 425px */
@media  screen and (max-width:425px) {
    #sidenav {
        align-items: center;
        padding: 0.5rem;
    }
    .sidenav-open {
        display: none;
    }
    .sidenav-mobile {
        display: block;
    }
    #sidenav .download-icon {
        margin:  2px 0px 2px 6px;
    }
    #sidenav nav img {
        width: 90%;
        margin: auto;
        margin-bottom: 0.5rem;
        }
    #sidenav .profile-icon {
        width: 35px;
        margin: auto;
    }
    #sidenav .download-icon {
        width: 20px;
    }
}


/* Scrollbar personalizzata */
/* width */
#sidenav::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  #sidenav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  /* Handle */
  #sidenav::-webkit-scrollbar-thumb {
    background: rgb(13, 143, 59); 
    border-radius: 50%;
  }
  /* Handle on hover */
  #sidenav::-webkit-scrollbar-thumb:hover {
    background: rgb(30,215,96); 
  }
