/* -- SIDENAV -- */
#sidenav {
    color: rgb(128, 128, 128);
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;
}

#sidenav a {
    align-items: center;
    gap: 7px;
}

/* Margini e distanze tra elementi */
#logo-spotify,
.upper-side nav a,
.playlist-list,
.bottom-side {
    margin-left: 1rem
}
#logo-spotify,
#sidenav nav,
.playlist-list {
    margin-bottom: 1rem;
}

#sidenav nav a {
    line-height: 2.5;
}
.playlist-list {
    line-height: 2;
}

/* Parte superiore sidenav */
#sidenav .upper-side {
    width: 90%;
}
#sidenav nav img {
width: 23%;
}
.fa-square-plus {
    font-size: 40px;
    vertical-align: middle;
}

/* Parte inferiore sidenav */
#sidenav .download-icon {
    width: 12%;
}
#sidenav .profile-icon {
    width: 20%;
    background-color: gray;
    clip-path: circle();
}
#sidenav .profile-icon img {
    position: relative;
    top: 5px;
}
.bottom-side hr {
    margin: 0.3rem 0;
}

/* Effetto Hover: svg e testo si colorano di bianco */
#sidenav a:hover,
#sidenav a:hover img {
    filter: none;
    color: white;
}
/* Effetto Hover: bordo sinistro dii nav */
.upper-side nav li {
    border-left: 2px solid transparent
}
.upper-side nav li:hover {
    border-left: 2px solid greenyellow
}